.main-section {
  width: 80%;
  margin: 0 auto;
}
.dashbord {
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  width: 30%;
  color: #fff;
  border-radius: 3px;
}
.title-section {
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background-color: #7cd6f8;
  padding: 7px 0px;
}
.title-section p {
  margin: 0px;
  font-size: 13px;
}
.icon-text-section {
  background-color: #5bccf6;
  padding: 5px 10px;
}
.icon-section {
  font-size: 50px;
  float: left;
  width: 20%;
  color: #8bdbf8;
}
.text-section {
  width: 80%;
  float: right;
  text-align: right;
}
.text-section h1 {
  margin: 0px;
  font-size: 25px;
}
.detail-section {
  background-color: #52b8de;
  cursor: pointer;
  border-radius: 0px 0px 5px 5px;
}
.detail-section a {
  color: #fff;
}
.detail-section a p {
  display: inline-block;
  margin: 0px;
  font-size: 12px;
  padding: 10px;
}
.detail-section a i {
  float: right;
  padding: 10px 5px 0px 0px;
}
.dashbord .detail-section:hover {
  background-color: #5a5a5a;
}
.download-content .title-section {
  background-color: #b0da7a;
}
.download-content .icon-text-section {
  background-color: #9cd159;
}
.download-content .detail-section {
  background-color: #8dbc50;
}
.download-content .icon-section {
  color: #b9de8a;
}
.product-content .title-section {
  background-color: #ff7979;
}
.product-content .icon-text-section {
  background-color: #ff5757;
}
.product-content .icon-section {
  color: #ff8989;
}
.product-content .detail-section {
  background-color: #e64f4f;
}
